@import "variables";

.empty-page-header {

  display: flex;
  flex-direction: column;
  align-items: center;


  h1 {
    font-style: italic;
    font-size: $page-title-font-size;
    font-weight: 400;
  }

}

.page-header {

  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .large > img {
    width: 250px;
  }

  .small > img {
    width: 170px;
  }


  h1 {
    font-style: italic;
    font-size: $page-title-font-size;
    font-weight: 400;
  }

  .quote {
    margin-bottom: 2rem;
    padding: 0.35rem 1.5rem;

    max-width: 85%;
    border-left: dashed 2px $clr-dark-gray;

    font-size: $paragraph-font-size;

    font-weight: 300;

    blockquote {
      font-style: italic;
      font-size: $paragraph-font-size;

      line-height: 2rem;

    }

  }

}


/* Breakpoints */
@media (max-width: 768px) {

  .empty-page-header {
    margin-bottom: -1.5rem;
  }


  .page-header {

    margin-bottom: 2rem;

    .large > img {
      width: 210px;
    }

    .small > img {
      width: 150px;
    }

  }
}

@media (max-width: 425px) {

  .page-header {
    .quote {
      max-width: 100%;
    }
  }

}

@media (max-width: 375px) {

  .empty-page-header {
    margin-bottom: -2rem;
  }

  .page-header {

    .title {
      //margin-bottom: -1.5rem;
    }

    margin-bottom: 1.5rem;

    .large > img {
      width: 180px;
    }

    .small > img {
      width: 130px;
    }

  }
}


