@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

@import "variables";
@import "mixins";
@import "header";
@import "images";
@import "page_header";
@import "footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* for firefox */
::-moz-selection {
  color: $clr-paper;
  background-color: $clr-orange-light;
}

::selection {
  color: $clr-paper;
  background-color: $clr-orange-light;
}

body {

  min-height: 100vh;
  background-color: $clr-paper;

  font-family: $default-font;
  font-size: $default-font-size;
  color: $default-font-color;

  text-align: left;
  line-height: 1.7;


}

.header {
  @include content-width($max-width-large);
}

main {
  @include content-width($max-width-small);
}

.footer {
  @include content-width($max-width-large);
}




ul {
  margin-left: 1.5rem;
  margin-bottom: 1rem;

  font-family: $paragraph-font;
  font-size: $paragraph-font-size;
}

iframe {
  width: 95%;
}


h1, h2, h3 {
  font-family: $h-font;
  font-weight: $h-font-weight;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  color: $h1-font-color;
  font-style: $h1-font-style;

  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  font-family: $paragraph-font;
  font-size: $paragraph-font-size;
}
