{% extends "base.html" %}
{% block content %}

<div class="clock-page-header">

    <!--    <div class="title">-->
    <!--        <h1>L'uomo misura il tempo</h1>-->
    <!--    </div>-->

    {% include "components/clock.html" %}

    <!--    <div class="title">-->
    <!--        <h1>e il tempo misura l'uomo.</h1>-->
    <!--    </div>-->

    <div class="title">
        <h1>When is a good time to begin?</h1>
    </div>
</div>

<div class="clock-story">

    <div class="chapter" id="chapter-1">
        <div class="number-hours">
            <span style="--index:12; font-weight: 800"><p>12</p></span>
            <span style="--index:11; font-weight: 800"><p>11</p></span>
            <span style="--index:10; font-weight: 700"><p>10</p></span>
            <span style="--index:9; font-weight: 700"><p>9</p></span>
            <span style="--index:8; font-weight: 600"><p>8</p></span>
            <span style="--index:7; font-weight: 500"><p>7</p></span>
            <span style="--index:6; font-weight: 400"><p>6</p></span>
            <span style="--index:5; font-weight: 400"><p>5</p></span>
            <span style="--index:4; font-weight: 300"><p>4</p></span>
            <span style="--index:3; font-weight: 300"><p>3</p></span>
            <span style="--index:2; font-weight: 200"><p>2</p></span>
            <span style="--index:1; font-weight: 200"><p>1</p></span>
        </div>
    </div>

    <div class="chapter" id="chapter-2">
        <p>Hei! You've fallen down here.</p>
        <p>Down where?</p>
        <p>Legit question, unfortunately I don't know the answer. </p>
        <p><b>Quick!</b> Look there! A rabbit!</p>
    </div>

    <div class="chapter" id="chapter-3">

        <p>At the beginning the path appear clear, one obvious choice to make.</p>
        <p>But...</p>
        <p>Most likely, multiple faces of the problem will appear, each with a choice. Each with a new dimension of possibilities.</p>
        <div id='cube-container'>
            <div class="face top"><h1>or this one</h1></div>
            <div class="face right"><h1>maybe this is the right one!</h1></div>
            <div class="face bottom"><h1>So many alternatives</h1></div>
            <div class="face left"><h1>maybe this?</h1></div>
            <div class="face back"><h1>make this choice</h1></div>
            <div class="face front"><h1>can it be this one?</h1></div>
        </div>
    </div>

</div>

<div class="content">
    {{ page.content | safe }}
</div>

{% endblock content %}