{% extends "base.html" %}

{% block content %}

<div class="page-header">

    <div class="image">
        <img src="/images/{{page.extra.title_icon}}" alt="page icon">
    </div>

    <div class="title">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="quote">
        <figure>
<!--            <i class="bi bi-quote"></i>-->
            <blockquote class="blockquote">
                {{ page.extra.quote.quote }}
            </blockquote>
            <figcaption class="blockquote-footer">
                &mdash; {{ page.extra.quote.author }}{% if page.extra.quote.source != "" %},
                <cite title="Source Title">{{ page.extra.quote.source }}</cite>
                {% endif %}
            </figcaption>
        </figure>
    </div>

</div>

<div class="content">
    {{ page.content | safe }}
</div>

{% endblock content %}