{% extends "base.html" %}
{% import "components/page-header.html" as page_header %}
{% import "components/project-gallery.html" as project_galley %}


{% block content %}

{{ page_header::input(label="large", type="text") }}

<div class="content">

    {{ section.content | safe }}

    <h1>Now</h1>
    {{ project_galley::input(active=true, type="text") }}
    <br>
    <p>For smaller projects check out my <a href="https://github.com/lanzani">GitHub</a>.</p>

    <h1>Past</h1>
    {{ project_galley::input(active=false, type="text") }}

</div>

{% endblock content %}